
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --height :450px;
    --width : 450px;
}

main{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.container{
    min-height: var(--height);
    width: var(--width);
    position: relative;
}

section{
    min-height: var(--height);
    width: var(--width);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2rem);
    padding: 3rem;
}

.cercle1 ,.cercle2{
    background: rgba(255, 255,255, 0.4);
    height: 250px;
    width: 250px;
    position: absolute;
    border-radius: 50%;

}

.cercle1{
    top: -70px;
    right: -70px;
}

.cercle2{
    bottom: -70px;
    left: -70px;
}

.title{
    width: 100%;

}
.title h1{
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    opacity: 0.9;
    margin-bottom: 20px;
    position: relative;
}

.title h1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100px;
    height: 4px;
    background-color: #fff;
}

form{
    padding: 1px;
}

form .input-box{
    width: 100%;
    margin-top: 20px;

}

form .input-box input{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 5px 15px rgba(0, 0,0, 0.04);
}

form .input-box input::placeholder{
    color: rgba(0, 0, 0, 0.3);
}

form .input-box input[type="submit"]{
    background: rgba(255, 255, 255, 0.6);
    font-weight: 700;
    color: #f78ca0;
    margin-bottom: 20px;
    cursor: pointer;
}

form .link-text{
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    font-size: 0.85rem;
}

form .link-text a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.3);
    font-weight: 700;
}

